body:not(.topic-banners) {
  .topic-banner-container {
    display: none;
  }
}
body.topic-banners {
  .topic-banner-container {
    display: flex;
    width: 100%;
    //justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: $banner-bg-color;
    .topic-banner {
      padding: 2.5rem 3rem;
      @media screen and (max-width: 450px) {
        padding: 1.5px;
      }
      h1 {
        margin-bottom: 0.5em;
      }
    }
  }
}
